@model IEnumerable<ServiceProject.Models.Item>

<div class="table-responsive">
    <table class="table">

        <thead class="thead-dark">
            <tr>
                <th scope="col">

                </th>
                <th scope="col">
                    @Html.DisplayName("Nombre")
                </th>
                <th scope="col">
                    @Html.DisplayName("Artista")
                </th>
               
                <th scope="col">
                    @Html.DisplayName("Duracion ms")

                </th>

                <th scope="col">
                    @Html.DisplayName("Abrir en Spotify")
                </th>

                <th scope="col">
                    @Html.DisplayName("Popularidad")

                </th>
                <th scope="col">
                    @Html.DisplayName("Preview")

                </th>

            </tr>
        </thead>



        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align: middle">

                    <div class='containerImg'>

                        <img class='resize_fit_center'
                             src='@item.album.images.FirstOrDefault().url' />

                    </div>
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.artists.FirstOrDefault().name)
                </td>
              
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.duration_ms)
                </td>

                <td style="vertical-align: middle">
                    <a href="@item.uri" target="_blank">@item.uri</a>
                </td>


                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.popularity)
                </td>
                <td style="vertical-align: middle">

                    <audio controls="" name="media"><source src="@item.preview_url" type="audio/mpeg"></audio>
                </td>

            </tr>
        }

    </table>
    <div><strong>Total: @Model.Count()</strong></div>
</div>