@model IEnumerable<SpotifyMVC.Models.Item>

<div class="table-responsive">
    <table class="table">

        <thead class="thead-dark">
            <tr>
                <th scope="col">
                   
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.artists)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.disc_number)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.duration_ms)
                </th>

                <th scope="col">
                    @Html.DisplayNameFor(model => model.uri)
                </th>


                <th scope="col">
                    @Html.DisplayNameFor(model => model.popularity)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.preview_url)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.track_number)
                </th>

            </tr>
        </thead>



        @foreach (var item in Model)
        {
    <tr>
        <td style="vertical-align: middle">

            <div class='containerImg'>

                <img class='resize_fit_center'
                     src='@item.album.images.FirstOrDefault().url' />

            </div>
        </td>
        <td style="vertical-align: middle">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td style="vertical-align: middle">
            @Html.DisplayFor(modelItem => item.artists.FirstOrDefault().name)
        </td>
        <td style="vertical-align: middle">

            @Html.DisplayFor(modelItem => item.disc_number)
        </td>
        <td style="vertical-align: middle">
            @Html.DisplayFor(modelItem => item.duration_ms)
        </td>

        <td style="vertical-align: middle">
            <a href="@item.uri" target="_blank">@item.uri</a>
        </td>


        <td style="vertical-align: middle">
            @Html.DisplayFor(modelItem => item.popularity)
        </td>
        <td style="vertical-align: middle">

            <audio controls="" name="media"><source src="@item.preview_url" type="audio/mpeg"></audio>
        </td>
        <td style="vertical-align: middle">
            @Html.DisplayFor(modelItem => item.track_number)
        </td>


    </tr>
        }

    </table>
    <div><strong>Total: @Model.Count()</strong></div>
</div>